.container {
  display: flex;
  min-height: 100vh;
  background-color: #181818;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 24px;
  color: #fff;
}
